version: '3'

services:
  api:
    container_name: api
    build: 
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./api:/api
    environment:
      - PARSER_SERVICE_URL=http://nlp:8000
      - MATCHING_SERVICE_URL=http://matching-service:8000
    env_file:
      - .env
    command: 
      bash -c "python manage.py makemigrations && 
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db

  nlp_service:
    container_name: nlp
    build: 
      context: ./nlp_service
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./nlp_service:/app
    env_file:
      - .env
    depends_on:
      - ollama
      - db

  matching_service:
    container_name: matching-service
    build: 
      context: ./matching_service
      dockerfile: Dockerfile
    ports:
      - "8002:8000"
    volumes:
      - ./matching_service:/app
    env_file:
      - .env
    depends_on:
      - db

  db:
    container_name: db
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5433:5432"
    healthcheck:
      test: pg_isready -U admin -d propertydb
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - db_data:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11435:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./ollama_entrypoint.sh:/entrypoint.sh
    entrypoint: ["/usr/bin/bash", "/entrypoint.sh"]


volumes:
  db_data:
  ollama_data: