version: '3'

services:
  api:
    container_name: api
    build: 
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./api:/api
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  nlp_service:
    container_name: nlp
    build: 
      context: ./nlp_service
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./nlp_service:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  matching_service:
    container_name: matching-service
    build: 
      context: ./matching_service
      dockerfile: Dockerfile
    ports:
      - "8002:8000"
    volumes:
      - ./matching_service:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  db:
    container_name: db
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5433:5432"
    healthcheck:
      test: pg_isready -U admin -d propertydb
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: